.app-header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.app-login {
  display: flex;
  justify-content: right;
  align-items: center;
}

.app-body {
  padding: 1rem 2rem;
}

.app-notices {
  padding: 1rem 2rem;
  position: fixed;
  top: 10;
  left: 10;
  right: 10;
  z-index: 10;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
